#content #main{background-color: #e9ecef; padding: 20px;}
#content .breadcrumb a.breadcrumb-item{text-decoration: none; color: #a2a2a2;}
#content .breadcrumb .breadcrumb-item{text-transform: uppercase; font-size: 14px;}
#content #login .bg-white{background: #fff;}
#content #login .form-control{border-radius: 0; margin: 10px 0px;}
#content #login a{text-decoration: none; font-weight: 100; font-size: 18px; color: #000;}
#content #login a:hover{color: #ee2f2f;} 
#content #login h2{font-weight: 800; text-transform: uppercase; font-size: 23px;}
#content #login .btn{border-radius: 0; text-transform: uppercase; font-weight: 700;}
#content #login .btn:hover{background-color: black;}
