body{font-size: 16px; font-family: "proxima-nova", sans-serif; color: #666; font-weight: 400; box-sizing: border-box; font-style: normal;}
html, body{position: relative; height: 100%;}
.bg-menu{background-color: #222;}
input:focus{outline: 0px !important; -webkit-appearance:none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.swiper-container{width: 100%; height: auto; margin-left: auto; margin-right: auto;}
.swiper-slide{background-size: cover; background-position: center;}
.gallery-top{height: 80%; width: 100%;}
.gallery-thumbs{height: 20%; box-sizing: border-box; padding: 10px 0;}
.gallery-thumbs .swiper-slide{width: 25%; height: 100%; opacity: 0.4;}
.gallery-thumbs .swiper-slide-thumb-active{opacity: 1;}

/* header */
    /* header top */
    #header #header-top{padding: 25px 0px;}
    #header #header-top .form-search{width: 100%; position: relative;}
    #header #header-top .form-search a{text-decoration: none; color: #000; position: absolute; top: 10px; right: 15px;}
    #header #header-top ul li{padding-left: 15px;}
    #header #header-top ul li a{text-decoration: none; font-size: 11px; text-transform: uppercase; color: #000; }
    /* end header top */

    /* header bot */
    #header #header-bot .dropdown-menu.w-75{left: 130px; padding: 30px 40px 30px;}
    #header #header-bot ul li a.nav-link{color: #000; text-transform: uppercase; font-size: 12px; font-family: "ProximaNova",sans-serif; padding-right: 30px; font-weight: 900;}
    #header #header-bot .dropdown-menu.w-75 h2{font-size: 15px; color: #e2e2e2; text-transform: uppercase; margin-bottom: 25px;}
    #header #header-bot .dropdown-menu a{text-decoration: none; color: #999; font-weight: bold; font-size: 13px; text-transform: uppercase; padding-bottom: 10px; display: block;}
    #header #header-bot .cart-in{position: relative; padding: 0 20px 0;}
    #header #header-bot .cart-in::before{content: ""; position: absolute; background-color: #ee2f2f; width: 100%; height: 100%; z-index: -1; transform: skewX(-50deg);}
    #header #header-bot .cart .fa{width: 40px; height: 40px; background-color: #fff; border-radius: 50%; line-height: 35px; text-align: center; border: 3px solid #ee2f2f;}
    #header #header-bot .cart a{color: #ee2f2f;}
    #header #header-bot span{color: #fff; font-weight: normal; font-size: 13px; padding: 10px 0px;}
    /* end header bot */
/* end header */ 

/* content */
    /* slider */
    #content #slider{width: 100%; height: 100%;}
    #content #slider .slide-in{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
    #content #slider .swiper-container{height: 100%; margin-left: auto; margin-right: auto;}
    #content #slider .swiper-slide{text-align: center; font-size: 18px; background: #fff;
      display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
      -webkit-box-pack: center; -ms-flex-pack: center;  -webkit-justify-content: center;
      justify-content: center; -webkit-box-align: center; -ms-flex-align: center;
      -webkit-align-items: center; align-items: center;}
    #content #slider .swiper-pagination-bullet-active{opacity: 1; background: #ee2f2f !important;}
    #content #slider .text h2{color: #fff; font-size: 55px; font-weight: 900; text-transform: uppercase;}
    #content #slider .text h2:nth-child(2){border-bottom: 3px solid red; padding-bottom: 15px;}
    #content #slider .text p{font-size: 21px; text-transform: uppercase; color: #fff; padding-top: 15px;}
    #content #slider .text .btn{margin-top: 15px;}
    /* end slider */

    /* categories */
    #content #category{border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1;}
    #content #category .title h2{color: #000; font-weight: 800; font-size: 15px; padding-bottom: 10px;}
    #content #category .title p{font-style: italic; color: #999999; font-size: 14px;}
    #content #category .btn{background-color: #ee2f2f; border-radius: 0;}
    #content #category .btn:hover{background-color: #000;}
    /* end categories */

    /* new arrival */
    #content #main-content{background-color: #f8f8f8; padding: 20px;} 
    #content #main-content h2.title, #content .last-update h2.title{text-transform: uppercase; font-weight: 900; font-size: 24px; position: relative; display: inline-block;}
    #content #main-content h2.title::before, #content .last-update h2.title::before{content: ""; position: absolute; background-color: #ee2f2f; width: 100%; height: 5px; bottom: -10px; left: 0;}
    #content #main-content .icon-star .fa, #content .last-update .icon-star .fa{position: absolute; left: 50%; transform: translateX(-50%); bottom: -20px; background-color: #ffffff; width: 50px;}
    #content .main{background-color: #ffffff;}
    #content .product-container{position: relative; border: 1px solid #e1e1e1;}
    #content .product-container .product-image{position: relative; overflow: hidden;}
    #content .product-container .product-image .product-thumb{position: relative;}
    #content .product-container .product-image .quickview{position: absolute; top: 50%; left: 50%; background-color: #ee2f2f; padding: 15px; transform: scale(0);}
    #content .product-container .product-image .quickview a{text-decoration: none; color: #fff; font-weight: 900; font-size: 13px;}
    #content .product-container .product-image .quickview:hover{background-color: black; transition: all 0.5s;}
    #content .product-container .product-meta{width: 100%; display: inline-block; text-align: left;}
    #content .product-container .product-meta .group-product{padding: 13px 20px 20px;}
    #content .product-container .product-meta .group-product .product-name h4{height: 33px; overflow: hidden; font-size: 14px; margin-bottom: 10px; position: relative;}
    #content .product-container .product-meta .group-product .product-name a{color: #303030; text-decoration: none;}
    #content .product-container .product-meta .group-product .product-name a:hover{color: #ee2f2f;}
    #content .product-container .product-meta .group-product .product-rate{margin-bottom: 15px; font-size: 14px;}
    #content .product-container .product-meta .group-product .product-price{font-weight: bold; color: #ee2f2f; font-size: 18px; margin-bottom: 10px;}
    #content .product-container .product-meta .product-action{text-align: center; display: flex;}
    #content .product-container .product-meta .product-action .add-to-cart{width: 33.33%; float: left; border-right: 1px solid #ececec; border-top: 1px solid #ececec; text-transform: uppercase; font-size: 13px;}
    #content .product-container .product-meta .product-action a{text-decoration: none; color: #999; display: inline-block; height: 40px; line-height: 40px; }
    #content .product-container .product-meta .product-action a:hover{color: #000;}
    #content .product-container .product-meta .product-action .heart,
    #content .product-container .product-meta .product-action .info{font-size: 13px;  border-right: 1px solid #ececec; border-top: 1px solid #ececec; width: 33.33%;}
    #content .product-container:hover .quickview{transform: scale(1); transform: translate(-50%,-50%);}
    /* end new arrival */

    /* custom */
    #content .custom .banner{position: relative; overflow: hidden;}
    #content .custom .banner::before{content: ""; position: absolute; top: 0; left: -100%; width: 100%; height: 100%; background-color: #99999985; z-index: 100;}
    #content .custom .banner:hover::before{left: 0; transition: 0.5s;}
    /* end custom */

    /* brand */
    #content .top-brand .swiper-pagination-bullet-active{opacity: 1; background: #ee2f2f;}
    #content .top-brand .swiper-container{height: 120px;}
    /* end brand */

    /* last update */
    #content .last-update{background-color: #352e3a; padding: 10px 0px 40px 0px;}
    #content .last-update .last-title h2{color: #fff;}
    #content .last-update .icon-star .fa{background-color: #352e3a;}
    #content .post .card{background-color: #352e3a;}
    #content .post .card .card-title{height: 40px; overflow: hidden;}
    #content .post .card .card-body{padding: 15px 0px;}
    #content .post .card h5 a{text-decoration: none; color: #fff; font-weight: 900; text-transform: uppercase; font-size: 14px;}
    #content .post .card .card-text{color: #999; font-size: 14px; line-height: 22px; height: 65px; overflow: hidden;}
    #content .post .card .post-thumb{position: relative;}
    #content .post .card .post-thumb .date{text-transform: uppercase; color: #fff; font-size: 13px; position: absolute; top: 70%; z-index: 10; line-height: 30px; left: -6px;}
    #content .post .card .post-thumb .date::before{content: ""; background-color: #ee2f2f; width: 100%; height: 30px; position: absolute; z-index: -1; padding: 5px 15px; transform: skew(-20deg);}
    /* end last update */
/* end content */

/* footer */
#footer{background-color: #2a242f; color: #999; padding: 40px 0px}
#footer .top-footer, #footer .bot-footer{border-bottom: 1px solid #3e3e3e; padding: 0px 40px 40px 0px;}
#footer .bot-footer{padding-top: 40px;}
#footer .bot-footer h2{text-transform: uppercase; font-size: 14px; color: #fff; font-weight: 900; padding-bottom: 20px;}
#footer .bot-footer ul li{line-height: 30px;}
#footer .bot-footer ul li a{text-transform: uppercase; color: #999; text-transform: uppercase; text-decoration: none; font-size: 12px;}
#footer .bot-footer ul li a:hover{color: #ee2f2f; transition: all 0.5s ease-in-out;}
#footer .footer-left{border-right: 1px solid #3e3e3e;}
#footer .bot-footer .subscribe input.form-control{border-radius: 0; background-color: #352e3a; border: 1px solid #3e3e3e; color: #fff;}
#footer .bot-footer .btn{position: absolute; top: 0; right: 0; border: 0; height: 100%; border-radius: 0; text-transform: uppercase; font-size: 12px; background-color: #352e3a; border: 1px solid #3e3e3e; color: #ee2f2f; border-left: 0;}
#footer .contact-footer{height: 100%; border-bottom: 1px solid #3e3e3e; padding: 0; margin: 0;}
#footer .contact-footer .about{padding: 0px 30px 30px 30px;}
#footer .contact-footer p{padding: 30px 0px;}
#footer .contact-footer ul li .fa{width: 25px; height: 25px; background-color: #777777; margin-bottom: 5px; color: #fff; line-height: 25px; text-align: center;}
/* end footer */

/* modal */
.modal .pro-name a{color: #000; text-transform: uppercase; text-decoration: none; font-weight: 700; line-height: 28px;}
.modal a .btn{text-transform: uppercase; font-size: 14px; font-weight: 700;}
.modal .pro-price{font-weight: 600; color: #ee2f2f;}
/* end modal */


@media (max-width: 1024px){
  #header #header-bot .dropdown-menu.w-75{width: 100% !important; padding: 20px; left: 0px;}
}
@media (max-width: 768px){
  #content #slider{display: none;}
}

